@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

#formInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#headerDiv {
  width: 600px;
  margin: auto;
  margin-top: 80px;
  font-size: 25px;
  margin-bottom: 30px;
}
